<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<body align="center" bgcolor="teal">

	
	<form action="/insert" method="post">
		<legend> <h2>EMPLOYEE REGISTRATION FORM </h2> </legend>

		<br>

		<table align="center">
			<tr>

		<td><label>name</label></td>
		<td><input type="text" name="empname" placeholder="Enter the Name" required></td>

		</tr>

		<tr>
		<td><label>age</label></td>
		<td><input type="text" name="empid" placeholder="Enter the ID Number" required></td>
	</tr>
		

		<tr>
		<td><label>role</label></td> 	
    	<td><input type="text" name="empdes" placeholder="Enter the Designation" required></td>
		
	</tr>
		

		<tr>
		<td><label>noOfMoviesActed</label></td>
		<td><input type="text" name="empsalary" placeholder="Enter the Salary" required></td>
	</tr>
		

		<tr>
		<td><label>favoriteMovie</label></td>
		<td><input type="textArea" name="empadd" placeholder="Enter the Address" required></td>
	</tr>


		<tr>
		<td rowspan="3" align="center"><input type="reset" value="Reset"></td>

		<td rowspan="2" align="center"><input type="submit" value="Submit"></td>

	</tr>
		


		</table>
	</form>
</body>
</html>